#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: John McCallum

# Short bio or description (displayed in the header)
description: Code Meets Crops

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://avatars2.githubusercontent.com/u/268441?v=2&s=460

#
# Flags below are optional
#

# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email: john.mccallum@plantandfood.co.nz
  facebook:
  flickr:
  github: cfljam/cfljam.github.io
  instagram:
  linkedin: https://www.linkedin.com/pub/john-mccallum/31/6a7/237
  pinterest:
  rss: # just type anything here for a working RSS icon, make sure you set the "url" above!
  twitter: jekyllrb
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
url: http://cfljam.github.io/
=======


# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

markdown: redcarpet
highlighter: pygments
permalink: /:title/

# The release of Jekyll Now that you're using
version: v1.1.0

# Set the Sass partials directory, as we're using @imports
sass:
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem

# Exclude these files from your production _site
exclude:
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md
    - CNAME
